.aside {
  background-color: #1c204b;
  position: relative;
  border-radius: 0.9375rem;
  line-height: 1.4;
  overflow: hidden;
}

@media screen and (min-width: 991px) {
  .aside {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 15.9375rem;
    flex-shrink: 0;
  }
}
