@import "./fonts.css";
@import "/node_modules/modern-normalize/modern-normalize.css";
@import "./reset.css";
@import "./variables.css";
@import "./base.css";

@media screen and (min-width: 768px) {
  #root {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
