.nav {
  padding: 1rem 2rem 1.4375rem; /* 16px 32px 23px */

  .nav__linkList {
    display: flex;
    flex-direction: column;
  }
}

.nav__link {
  display: inline-block;
  font-size: 1.125rem; /* 18px */
  color: #7078c9;
  padding: 0.625rem 0; /* 10px 0 */

  &.active {
    color: white;
  }
}
