.cardsList {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(15.9375rem, 1fr)
  ); /* Minimum 250px width, 1fr maximum */
  gap: 1.875rem; /* 30px */
}

@media screen and (min-width: 768px) {
  .cardsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-grow: 1;
  }
}
